on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service vendor.secure_element_hal_service /system/bin/true
    disabled

service qcom-c_main-sh /vendor/bin/init.class_main.sh
    class main
    user root
    group root system
    oneshot
